/kdsu/companies/orders/__pycache__
/kdsu/companies/utils/__pycache__
/kdsu/companies/catalogs/__pycache__
/kdsu/companies/catalogs/migrations/__pycache__
/kdsu/companies/documents/__pycache__
/kdsu/companies/__pycache__
/config/__pycache__
/kdsu/companies/documents/migrations/__pycache__
/kdsu/companies/orders/migrations/__pycache__
/kdsu/companies/utils/migrations/__pycache__
node_modules
