
{% load static %}
<link rel="stylesheet" href="{% static 'css/plantilla_consultas.css' %}">




<!-- plantilla_consultas.html -->
<div class="ui segment">
    <div class="">
        <div class="ui grid middle aligned">
          <div class="eight wide column" style="display: flex; align-items: left; gap: 0.5rem;">
            
            <h3 class="ui header" style="margin: 0;">
               {% block icono  %}<i class="bars icon"></i>{% endblock icono %}  {% block titulo %}Consulta 1{% endblock titulo %}  </h3>
          </div>

          {% block botones %}
          <div class="eight wide column right aligned">
            {% comment %} <div class="ui icon input" id="buscadorDatatable">
              <input type="text" placeholder="Buscar...">
              <i class="search icon"></i>
            </div> {% endcomment %}                    
            
            {% block refrescar %}
       
            <button class="ui blue button" id="btnRefrescar">
              <i class=""></i> Refrescar
            </button>
            {% endblock refrescar %}

            {% block procesar %}
            <button class="ui blue button" id="btnProcesar">
                <i class=""></i> Procesar
              </button>
           
              {% endblock procesar %}

            {% block exportar %}
            <div class="ui dropdown button">
              Exportar <i class="dropdown icon"></i>
              <div class="menu">
                <div id="exportarCsv" class="item">CSV</div>
                <div id="exportarJson" class="item">JSON</div>
                <div id="exportarXml" class="item">XML</div>
              </div>
            </div>
            {% endblock exportar %}
          </div>
          {% endblock botones %}
        </div>
      </div>
  
 <!-- Panel de Filtros -->
<div class="ui form filtros" style="margin-top: 1rem;">
    <div class="fields">
      <div class="field">
        <label>Filtro de texto</label>
        <input type="text" id="filtroTexto" placeholder="Buscar...">
      </div>
      <div class="field">
        <label>Filtro de selección</label>
        <select id="filtroSeleccion" class="ui dropdown">
          <option value="">Selecciona un proveedor</option>
          {% for id, name in suppliers %}
          <option value="{{ id }}">{{ name }}</option>

          {% endfor %}
        </select>
        
      </div>
      <div class="field">
        <label>Fecha inicio</label>
        <div class="ui calendar" id="rangestart">
          <div class="ui input left icon">
            <i class="calendar icon"></i>
            <input type="text" id="fechaInicio" placeholder="Inicio" readonly  onkeydown="return false" style="cursor: pointer;" >
          </div>
        </div>
      </div>
      <div class="field">
        <label>Fecha fin</label>
        <div class="ui calendar" id="rangeend">
          <div class="ui input left icon" >
            <i class="calendar icon"></i>
            <input type="text" id="fechaFin" placeholder="Fin" readonly   onkeydown="return false" style="cursor: pointer;" >
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <div class="tabla-contenedor">
    <table id="tablaPlantillaConsultas" class="ui celled striped table" style="display:none;">
      <thead>
        {% block columnas %}
        <tr>
            <th  ></th>
            <th>Clave</th>
            <th>Nombre</th>
            <th>Fecha</th>
            <th>Estatus</th>
            <th></th>
          </tr>

        {% endblock columnas %}
      </thead>

      <tbody>
        {% for order in orders %}
        <tr data-id="{{ order.id }}" data-fecha="{{ order.date_ordered|date:'Y-m-d' }}"  data-proveedor="{{ order.supplier.short_name }}">
        <td><i class="plus icon" style="cursor: pointer; "></i></td>
        <td>{{ order.order_id }}</td>
        <td>{{ order.category }}</td>
        <td>{{ order.date_ordered }}</td>
        <td>{{ order.status }}</td>
        <td>
          <button class="ui icon button activar" title="Activar">
            <i class="power icon"></i>
          </button>
          <button class="ui icon button eliminar" title="Eliminar">
            <i class="trash icon"></i>
          </button>
        </td>
      </tr>
    {% endfor %}
       
      </tbody>
    </table>
  </div>


{% comment %} Modal de detalle {% endcomment %}

<div class="ui modal" id="detalleModal">
  <div class="header">Detalle de la Orden</div>
  <div class="content">
    <div class="ui top attached tabular menu">
      <a class="active item" data-tab="detalles">Detalles</a>
      <a class="item" data-tab="costos">Costos</a>
    </div>

    <div class="ui bottom attached active tab segment" data-tab="detalles">
      <table class="ui celled table" id="tablaDetalle">
        <thead>
          <tr><th>Producto</th><th>Almacén</th></tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>

    <div class="ui bottom attached tab segment" data-tab="costos">
      <table class="ui celled table" id="tablaCostos">
        <thead>
          <tr><th>Costo</th><th>Cantidad</th><th>Subtotal</th><th>IVA</th><th>IVA $</th><th>Total</th></tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
  <div class="actions">
    <button class="ui button deny">Cerrar</button>
  </div>
</div>




  </div>
  

  